<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    version="1.0.0.0" id="jZooper">
	<name>jZooper</name>
	<author>LeDYoM</author>
	<description>The classic Zoop</description>
	<icon src="images/icon.png"/>
	<content src="index.html"/>
</widget>
