<h4>Just Launch</h4>
<button id="launchNormal" data-fullscreen="false" class="centerButton">…in window</button>
<br />
<button id="launchFullScreen" data-fullscreen="true" class="centerButton">…full screen</button>  